{{ define "title" }}
  {{ .Title }} ·
  {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">{{ .Title }}</h1>
    <p>
      Selected free and open-source software (FOSS) projects
      <a href="/about">{{ .Site.Params.author }}</a> authored or contributed to.
    </p>

    <div class="featured">
      <div class="gallery-items">
        {{ range .Pages }}
          {{ partial "gallery-item.html" . }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
