$enby_yellow: #cfa000;
$enby_white: #e0cfac;
$enby_purple: #58224b;
$enby_black: #23151f;

.navigation {
  background-color: $enby_yellow;
  border-top: unset;
  border-bottom: unset;
  .navigation-list {
    background-color: $enby_yellow;
    border-top: unset;
    border-bottom: unset;
    .navigation-item {
      @media not screen and (max-width: 768px) {
        a {
          margin-left: 2rem;
          margin-right: 0;
        }
        span {
          margin-left: 2rem;
          margin-right: 0;
        }
      }
    }
  }
  #menu-toggle {
    &:checked {
      + {
        label {
          color: $enby_purple;
        }
      }
    }
  }
  .menu-button {
    &:hover,
    &:focus {
      color: $enby_purple;
    }
  }
  a {
    &:hover,
    &:focus {
      color: $enby_purple;
    }
    color: $enby_black;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.branding {
  display: flex;
  align-items: center;
  .avatar-title {
    height: 5rem;
    border-radius: 50%;
    width: auto;
    padding: 0.175rem;
    background-color: $enby_black;
  }
  .navigation-title {
    margin-left: 1rem;
  }
}

.list {
  ul {
    li {
      .title {
        &:hover,
        &:focus {
          color: $enby_purple;
        }
        color: $enby_black;
      }
    }
  }
}

.centered {
  .about {
    ul {
      li {
        a {
          &:hover,
          &:focus {
            color: $enby_purple;
          }
          svg {
            height: 1em;
            font-size: 3.2rem;
            margin-bottom: -0.4rem;
          }
          color: $enby_black;
        }
        padding-top: 0.5rem;
      }
      margin: 2rem 0;
    }
  }
}

.wrapper {
  background-color: $enby_white;
  min-width: 35rem;
}

.footer {
  background-color: $enby_black;
  padding-bottom: 2rem;
  margin: 0;
  color: $enby_white;
  a {
    color: $enby_white;
  }
}

.purple-separator {
  background-color: $enby_purple;
  margin-top: 0;
  margin-bottom: 3rem;
  .centered {
    .about {
      ul {
        li {
          a {
            &:hover,
            &:focus {
              color: $enby_white;
            }
          }
        }
      }
    }
  }
}

a {
  color: $enby_purple;
  .citation {
    color: $enby_black;
  }
}

body,
h1,
h2,
h4,
h5,
h6,
p {
  color: $enby_black;
}

h3,
h4,
h5,
h6 {
  margin: 3rem 0 1.5rem 0;
}

.gallery-item {
  color: $enby_black;
  width: 38rem;
  height: 21.375rem;
  @media (max-width: 40rem) {
    width: 32rem;
    height: 18rem;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  &:hover,
  &:focus {
    opacity: 0.8;
    .gallery-item-meta {
      opacity: 0.9;
    }
  }
}

.media-link {
  &:hover,
  &:focus {
    color: $enby_purple;
    text-decoration: none;
  }
  color: $enby_black;
}

.avatar {
  img {
    width: 30rem;
    padding: 0.33rem;
    background-color: $enby_black;
  }
}

.bibtex {
  margin-top: 1rem;
}

.citation {
  list-style-type: none;
  margin-top: 1rem;
  margin-left: 5rem;
  text-indent: -5rem;
  text-align: left !important;
  @media only screen and (max-width: 768px) {
    margin-left: 2rem !important;
    text-indent: -2rem;
  }
}

.post-meta {
  span {
    margin-left: 0;
    margin-right: 1.5rem;
  }
}
.post-title {
  h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}
.responsive-media-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  &::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  object,
  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.splash {
  margin: 10vh 0;
}

.featured {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.gallery-items {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  a {
    margin: 2rem;
    background-color: $enby_black;
    &:hover,
    &:focus {
      transform: scale(1.1);
      text-decoration: none;
    }
  }
}
.gallery-item-meta {
  background-color: $enby_white;
  width: 80%;
  margin: auto;
  opacity: 0;
  justify-content: center;
}

.home-container {
  width: 100%;
}

article {
  img {
    max-height: 40vh;
    @media not screen and (max-width: 576px) {
      max-width: 30rem;
      float: right;
      margin-left: 2rem;
    }
    @media screen and (max-width: 576px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.talk {
  background-color: $enby_yellow;
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  @media (max-width: 60rem) {
    flex-flow: wrap;
  }
  li {
    padding: 3rem;
    margin-top: 0;
    .citation-url {
      display: none;
    }
    @media (max-width: 60rem) {
      // padding-bottom: 0;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }
  .talk-image {
    width: 38rem;
    max-width: 100%;
    height: 21.375rem;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
