{{ if .Params.youtube }}
  <a
    href="https://youtu.be/{{ .Params.youtube }}"
    target="_blank"
    rel="noreferrer noopener"
  >
    <h3>YouTube</h3>
  </a>
  <div class="responsive-media-container">
    <iframe
      width="1186"
      height="667"
      src="https://www.youtube.com/embed/{{ .Params.youtube }}"
      title="YouTube video player"
      frameborder="0"
      allow="clipboard-write; encrypted-media; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
{{ end }}

{{ if .Params.mp4 }}
  <a href="{{ .Params.mp4 }}" target="_blank" rel="noreferrer noopener">
    <h3>Video</h3>
  </a>
  <div class="responsive-media-container">
    <video controls="">
      <source src="{{ .Params.mp4 }}" type="video/mp4" />
      <em>Your browser does not support the video element.</em>
    </video>
  </div>
{{ end }}

{{ if or (isset .Params "mp3") (isset .Params "ogg") }}
  <a
    href="{{ or .Params.mp3 .Params.ogg }}"
    target="_blank"
    rel="noreferrer noopener"
  >
    <h3>Audio</h3>
  </a>
  <audio style="width: 100%" controls="">
    <source src="{{ .Params.mp3 }}" type="audio/mpeg" />
    <source src="{{ .Params.ogg }}" type="audio/ogg" />
    <em>Your browser does not support the audio element.</em>
  </audio>
{{ end }}

{{ if .Params.pdf }}
  <a href="{{ .Params.pdf }}" target="_blank" rel="noreferrer noopener">
    <h3>PDF</h3>
  </a>
  <div class="responsive-media-container">
    <object
      type="application/pdf"
      data="{{ .Params.pdf }}#toolbar=0&navpanes=0"
    ></object>
  </div>
{{ end }}

{{ if .Params.iframe }}
  <a href="{{ .Params.iframe.src }}" target="_blank" rel="noreferrer noopener">
    <h3>{{ .Params.iframe.title }}</h3>
  </a>
  <div class="responsive-media-container">
    <iframe src="{{ .Params.iframe.src }}"></iframe>
  </div>
{{ end }}
