<footer class="footer">
  <div class="purple-separator">
    <section class="container centered">
      <div class="about">
        {{ partial "social" . }}
      </div>
    </section>
  </div>
  <section class="container">
    {{ if not .Site.Params.hideCopyright }}
      {{ with .Site.Params.since }}
        © &ensp;
        {{ if lt . now.Year }}{{ . }} -{{ end }}{{ now.Year }}
      {{ else }}
        ©
        {{ now.Year }}
      {{ end }}
      {{ if .Site.Params.Author }}
        &ensp; <a href="https://spri.nz">{{ .Site.Params.Author }}</a>
      {{ end }}
    {{ end }}
    {{ if .Site.Params.footertext }}
      &ensp; · &ensp;
      {{ .Site.Params.footertext }}
    {{ end }}
  </section>
</footer>
