<nav class="navigation">
  <section class="container">
    <a href="{{ .Site.BaseURL | relLangURL }}">
      <div class="branding">
        <img
          class="avatar-title"
          src="{{ .Site.Params.avatarurl }}"
          alt="{{ .Site.Title }}"
          title="{{ .Site.Title }}"
        />
        <span class="navigation-title">
          {{ .Site.Title }}
        </span>
      </div>
    </a>

    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle">
      <i class="fas fa-bars"></i>
    </label>
    <ul class="navigation-list">
      {{ $links := (where .Site.Sections "Draft" "!=" true | append (where .Site.Pages "Section" "")) }}
      {{ range sort $links "Weight" "desc" }}
        {{ if ne .Site.Title .Title }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .RelPermalink }}"
              >{{ title .Title }}</a
            >
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>
</nav>
