<section class="container centered">
  <div class="home-container">
    <div class="splash">
      <div class="about">
        {{ if isset .Site.Params "avatarurl" }}
          {{ with .Site.Params.avatarurl }}
            <a href="/about">
              <div class="avatar">
                <img src="{{ . | relURL }}" alt="avatar" />
              </div>
            </a>
          {{ end }}
        {{ end }}
        <a href="/about">
          <h1>{{ .Site.Params.author }}</h1>
        </a>
        <h2>{{ .Site.Params.info }}</h2>

        {{ partial "social" . }}


        <p>{{ markdownify .Site.Params.teaser }}</p>
      </div>
    </div>

    <div class="featured">
      {{ range sort .Sections "Weight" "desc" }}
        {{ $featured_in_section := where .Pages "Params.featured" "==" true }}
        {{ if $featured_in_section }}
          <a href="{{ .RelPermalink }}"><h3>Featured {{ title .Title }}</h3></a>
          <p style="font-size: 0; margin: 0; height: 0;">
            Selected {{ .Title }} by
            {{ .Site.Params.author }}
          </p>
          {{ if eq .Title "Publications" }}
            {{ range $featured_in_section }}
              <a href="{{ .Params.ExternalLink | default .RelPermalink }}">
                {{ partial "citation.html" . }}
              </a>
            {{ end }}
          {{ else }}
            <div class="gallery-items">
              {{ range $featured_in_section }}
                {{ partial "gallery-item.html" . }}
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
