{{ if (.Params.links | default (.Params.identifiers.fatcat_work | default .Params.iframe)) }}
  <h3>Links</h3>
  <ul>
    {{ range .Params.links }}
      <li>
        <a href="{{ .link }}" target="_blank" rel="noreferrer noopener"
          >{{ .label }}</a
        >
      </li>
    {{ end }}
    {{ if .Params.iframe }}
      <li>
        <a
          href="{{ .Params.iframe.src }}"
          target="_blank"
          rel="noreferrer noopener"
          >{{ .Params.iframe.title }}</a
        >
      </li>
    {{ end }}
    {{ if .Params.identifiers.fatcat_work }}
      <li>
        <a
          href="https://scholar.archive.org/work/{{ .Params.identifiers.fatcat_work }}"
          target="_blank"
          rel="noreferrer noopener"
          >Internet Archive Scholar</a
        >
      </li>
    {{ end }}
  </ul>
{{ end }}
{{ if .Params.identifiers }}
  <h3>Identifiers</h3>
  <ul>
    {{ if .Params.identifiers.doi }}
      <li>
        <strong>DOI</strong>:
        <a
          href="https://oadoi.org/{{ .Params.identifiers.doi }}"
          target="_blank"
          rel="noreferrer noopener"
          >{{ .Params.identifiers.doi }}</a
        >
      </li>
    {{ end }}
    {{ if .Params.identifiers.urn_nbn }}
      <li>
        <strong>URN</strong>:
        <a
          href="https://nbn-resolving.org/{{ .Params.identifiers.urn_nbn }}"
          target="_blank"
          rel="noreferrer noopener"
          >{{ .Params.identifiers.urn_nbn }}</a
        >
      </li>
    {{ end }}
    {{ if .Params.identifiers.wikidata }}
      <li>
        <strong>Wikidata</strong>:
        <a
          href="https://www.wikidata.org/wiki/{{ .Params.identifiers.wikidata }}"
          target="_blank"
          rel="noreferrer noopener"
          >{{ .Params.identifiers.wikidata }}</a
        >
      </li>
    {{ end }}
    {{ if .Params.identifiers.fatcat_release }}
      <li>
        <strong>fatcat</strong>:
        <a
          href="https://fatcat.wiki/release/{{ .Params.identifiers.fatcat_release }}"
          target="_blank"
          rel="noreferrer noopener"
          >release_{{ .Params.identifiers.fatcat_release }}</a
        >
      </li>
    {{ else if .Params.identifiers.fatcat_work }}
      <li>
        <strong>fatcat</strong>:
        <a
          href="https://fatcat.wiki/work/{{ .Params.identifiers.fatcat_work }}"
          target="_blank"
          rel="noreferrer noopener"
          >work_{{ .Params.identifiers.fatcat_work }}</a
        >
      </li>
    {{ end }}
  </ul>
{{ end }}
