{{ with .Site.Params.social }}
  <ul>
    {{ range sort . "weight" }}
      <li>
        <a
          href="{{ .url }}"
          aria-label="{{ .name }}"
          {{ if .rel }}rel="{{ .rel }}"{{ end }}
          {{ if .target }}target="{{ .target }}"{{ end }}
          {{ if .type }}type="{{ .type }}"{{ end }}
        >
          {{ if .icon }}
            <i class="{{ .icon }}" aria-hidden="true"></i>
          {{ else if .svg }}
            {{ readFile .svg | safeHTML }}
          {{ else }}
            {{ .name }}
          {{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
