{{ define "title" }}
  {{ .Title }} ·
  {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">{{ .Title }}</h1>
    <p>
      Talks, Presentations, and Keynotes
      <a href="/about">{{ .Site.Params.author }}</a> gave at different tech and
      foss conferences.
    </p>

    <ul>
      {{ range where .Paginator.Pages "Draft" "!=" true }}
        <a href="{{ .Params.ExternalLink | default .RelPermalink }}">
          <div class="talk">
            {{ partial "citation.html" . }}
            {{ if .Params.featured_image }}
              <div
                class="talk-image"
                style="background-image: url({{ .Params.featured_image | default .Site.Params.avatarurl }});"
              ></div>
            {{ end }}
          </div>
        </a>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
