{{ define "title" }}
  {{ .Title }} ·
  {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
          <h2 class="title">{{ .Params.subtitle }}</h2>
        </div>
        <div class="post-meta">
          <span class="posted-on">
            <i class="fas fa-calendar"></i>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
            </time>
          </span>

          <span>
            <i class="fas fa-id-badge"></i> {{ delimit .Params.authors ", " }}
          </span>

          <span>
            <i class="fas fa-users"></i> {{ .Params.conference }}
          </span>

          <span>
            <i class="fas fa-map-pin"></i> {{ .Params.city }}
          </span>
          {{ with .Page.Params.Categories }}
            {{ partial "taxonomy/categories.html" . }}
          {{ end }}
          {{ with .Page.Params.Tags }}
            {{ partial "taxonomy/tags.html" . }}
          {{ end }}
        </div>
      </header>

      <div>
        {{ if .Params.featured_image }}
          <img
            src="{{ .Params.featured_image }}"
            alt="{{ .Title }} {{ .Params.subtitle }} by {{ delimit .Params.authors ", " " and " }} at {{ .Params.conference }}"
          />
        {{ end }}
        <p>
          {{ .Params.description }}
          {{ if .Params.original_link }}
            <br />
            <a
              href="{{ .Params.original_link }}"
              target="_blank"
              rel="noreferrer noopener"
            >
              Originally published by {{ .Params.conference }}.
            </a>
          {{ end }}
        </p>

        {{ .Content }}

        {{ partial "embed.html" . }}
        {{ partial "links.html" . }}
        {{ partial "bibtex.html" . }}
      </div>

      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utteranc.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
