<meta property="og:title" content="{{ .Title }}" />
<meta
  property="og:description"
  content="{{- with .Description -}}
    {{ . }}
  {{- else -}}
    {{- if .IsPage -}}
      {{ .Summary }}
    {{- else -}}
      {{ with .Site.Params.description }}{{ . }}{{ end }}
    {{- end -}}
  {{- end -}}"
/>
<meta
  property="og:type"
  content="{{- if or (.Params.youtube) (.Params.mp4) (.Params.videos) -}}
    video
  {{- else if .IsPage -}}
    article
  {{- else -}}
    website
  {{- end -}}"
/>
<meta property="og:url" content="{{ .Permalink }}" />

{{ if .Params.featured_image }}
  <meta property="og:image" content="{{ .Params.featured_image | absURL }}" />
{{ end }}

{{- with $.Params.images -}}
  {{- range first 6 . }}
    <meta property="og:image" content="{{ . | absURL }}" />
  {{ end -}}
{{- else -}}
  {{- $images := $.Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- if not $featured }}
    {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{ end -}}
  {{- with $featured -}}
    <meta property="og:image" content="{{ $featured.Permalink }}" />
  {{- else -}}
    {{- with $.Site.Params.images }}
      <meta property="og:image" content="{{ index . 0 | absURL }}" />
    {{ end -}}
  {{- end -}}
{{- end -}}

{{- if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <meta property="article:section" content="{{ .Section }}" />
  {{ with .PublishDate }}
    <meta
      property="article:published_time"
      {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }}
    />
  {{ end }}
  {{ with .Lastmod }}
    <meta
      property="article:modified_time"
      {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }}
    />
  {{ end }}
{{- end -}}

{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}
  <meta property="og:locale" content="{{ . }}" />
{{ end }}
{{- with .Site.Params.title }}
  <meta property="og:site_name" content="{{ . }}" />
{{ end }}
{{- with .Params.videos }}
  {{- range . }}
    <meta property="og:video" content="{{ . | absURL }}" />
  {{ end }}

{{ end }}

{{ if .Params.youtube }}
  <meta
    property="og:video"
    content="http://www.youtube.com/v/{{ .Params.youtube }}?version=3&amp;autohide=1"
  />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video:width" content="398" />
  <meta property="og:video:height" content="224" />
{{ end }}
{{ if .Params.mp4 }}
  <meta property="og:video" content="{{ .Params.mp4 | absURL }}" />
  <meta property="og:video:type" content="video/mp4" />
{{ end }}
{{ if .Params.mp3 }}
  <meta property="og:audio" content="{{ .Params.mp3 | absURL }}" />
  <meta property="og:audio:type" content="audio/mpeg" />
{{ end }}
{{ if .Params.ogg }}
  <meta property="og:audio" content="{{ .Params.ogg | absURL }}" />
  <meta property="og:audio:type" content="audio/opus" />
{{ end }}

{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}
  {{- range $name := . }}
    {{- $series := index $siteSeries ($name | urlize) }}
    {{- range $page := first 6 $series.Pages }}
      {{- if ne $page.Permalink $permalink }}
        <meta property="og:see_also" content="{{ $page.Permalink }}" />
      {{ end }}
    {{- end }}
  {{ end }}

{{ end }}

{{- /* Facebook Page Admin ID for Domain Insights */}}
{{- with .Site.Social.facebook_admin }}
  <meta property="fb:admins" content="{{ . }}" />
{{ end }}
