{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">{{ .Title }}</h1>
    <p>
      Scientific publications (co-)authored by
      <a href="/about">{{ .Site.Params.author }}</a>.
    </p>

    <ul>
      {{ range where .Paginator.Pages "Draft" "!=" true }}
        <a href="{{ .Params.ExternalLink | default .RelPermalink }}">
          {{ partial "citation.html" . }}
        </a>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
